.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;

  background-color: #111827;
  color: white;

  z-index: 1000;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 20px;

  list-style: none;
}

.menu li {
  cursor: pointer;
}

.menu li:hover {
  color: #60a5fa;
}