/* 전체 헤더 */
.header {
    padding: 8px 0;
}

/* 로고 */
.header-logo {
    width: 120px;
}

/* 검색창 영역 */
.search-wrap {
    width: 100%;
    max-width: 600px;
    min-width: 300px;

    position: relative;

    margin: 0 auto;
}

/* 검색 입력 */
.search-input {
    border-radius: 999px !important;
    padding-right: 260px !important;
    height: 50px;
}

/* 검색창 내부 요소 */
.search-inner {
    position: absolute;

    top: 50%;
    right: 0;

    transform: translateY(-50%);

    display: flex;
    align-items: center;
    gap: 8px;

    padding-right: 12px;
}

/* 검색 버튼 */
.icon-button {
    border: none !important;
    background: transparent !important;
}

/* 드롭다운 버튼 */
.dropdown-button {
    border: none !important;
}

/* 우측 메뉴 */
.header-menu {
    display: flex;
    align-items: center;
    gap: 12px;

    flex-wrap: wrap;
    justify-content: flex-end;

    padding-top: 8px;
}

/* 아이콘 */
.header-icon {
    cursor: pointer;
}

/* 반응형 */
@media (max-width: 991px) {

    .search-wrap {
        margin-top: 15px;
        min-width: 100%;
    }

    .header-menu {
        margin-top: 15px;
        justify-content: center;
        padding-top: 0;
    }

}